<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path)}" do %>
            <% if current_page?(root_path) %>
              <i class="fa-solid fa-house"></i>
            <% else %>
              <i class="fa-solid fa-house-chimney"></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to messages_path, class: "nav-link #{'active' if current_page?(messages_path)}" do %>
            <% if current_page?(messages_path) %>
              <i class="fa-solid fa-comment-dots"></i>
            <% else %>
              <i class="fa-solid fa-comment"></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to projects_path, class: "nav-link #{'active' if current_page?(projects_path)}" do %>
            <% if current_page?(projects_path) %>
              <i class="fa-solid fa-folder-open"></i>
            <% else %>
              <i class="fa-solid fa-folder"></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "http://www.linkedin.com/in/marwan-rouissi", class: "nav-link", target: :_blank do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "https://github.com/marwanrouissi", class: "nav-link", target: :__blank do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "mailto:rouissi-marwan@hotmail.fr", class: "nav-link", target: :__blank do %>
            <i class="fa-solid fa-envelope"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
